@import "/root/fonts/Xenotron.ttf";

body{
    margin: 0px;
    display: block;
    height: 100%;
    background: url("/root/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

a{
    text-decoration: none;
    color:teal;
}

.container{
    max-width: 500px;
    margin: 10% auto;
    background-color: #c1aa94;
    border: 2px outset #01121c;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 10px #0b2e2f;
    position: relative;
}

.container > div{
    display: inline-block;
    padding-top: 5%;
    padding-bottom: 5%;
}

.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    width: 49%;
    text-align: center;
}
.name > small{
    font-size: 15px;
    color: dimgray;
    display: block;
    text-align: center;
}

.links{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 49%;
    text-align: left;
}

.about{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 15px;
    margin: 10px;
    text-align: justify;
}
ul{
    border-top: 1px solid #0b2e2f;
    margin-top:10px;
    padding-top: 10px;
}
ul > li {
    list-style: none;
}

ul > li::before {
    content: '›';
    position: relative;
    bottom: 2px;
    right: 2px;
}